@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: #7791a8;
}

.demo{
  width: 350px;
  height: 250px;
  border: 1px solid;
  padding: 10px;
  margin: 0 auto;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.note {
	font-size: 24px;
	font-weight: 300;
}

.button{
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

.code-display{
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ccc;
  font-size: 18px;
  border: 1px solid;
}