@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: #7791a8;
}

.demo{
  width: 350px;
  height: 250px;
  border: 1px solid;
  padding: 10px;
  margin: 0 auto;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.note {
	font-size: 24px;
	font-weight: 300;
}

.button{
  width: 100px;
  height: 40px;
  font-size: 18px;
}

.code-display{
  width: 225px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #ccc;
  font-size: 18px;
  border: 1px solid;
}

.delay-time-container {
	display: flex;
	width: 225px;
	justify-content: space-between;
	align-items: center;
}

label {
	font-size: 18px;
	font-weight: 400;
	margin-right: 10px;
}

input {
	width: 80px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}

.current-delay-time {
	width: 80px;
	height: 30px;
	font-size: 18px;
	text-align: center;
}

.manual-auto {
	width: 125px;
	height: 40px;
	font-size: 18px;
	
}

.blink {
	visibility: hidden;
}
